@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
 

:root{
    --text-color: #000000; 
    --bg-color: #eebad1; 
    --color-secundario: #c8b6ff; 
    --color-terciario: #ffffff; 
    --color-cuaternario: #d1bff0; 
} 

body{ 
    background-image:url(https://p4.wallpaperbetter.com/wallpaper/81/388/855/anime-cityscape-landscape-scenery-wallpaper-preview.jpg);
    font-family:'Mochiy Pop P One', sans-serif;
    
}

#grupo{ 
    background-color: var(--color-terciario);
    width: 50%;
    margin: 1rem auto;
    height: fit-content;
    border: 2px solid var(--color-cuaternario);
}

.subGrupo{ 
    width: 70%;
    border: 2px solid #e4b5ca;
    margin: 0.5rem auto; 
    padding: 1rem;
}

.subGrupo__opciones{ 
    display: flex;
    flex-direction: column; 
    width: 70%;
    margin: 1rem auto;
    border: 2px solid #ffd6ff;
}

.subGrupo__opcion{ 
    margin: 1rem;
    line-height: 2rem;
    border: none; 
    background-color:var(--color-cuaternario);
    color: var(--text-color);
    font-family: 'Mochiy Pop P One', sans-serif;
}

#subGrupo__titulo{ 
    text-align: center;
    color: var(--text-color);
    font-family:'Mochiy Pop P One', sans-serif;
} 

#subGrupo__pregunta{ 
    text-align: center;
    color: var(--text-color);
    font-family:'Mochiy Pop P One', sans-serif;

} 
 
#subGrupo__descripcion{ 
   text-align: justify;
   color: var(--text-color);
   font-family:'Mochiy Pop P One', sans-serif; 
}

#barraProgreso{ 
    width: 80%; 
    margin: 0.2rem auto;
    display: block;
    appearance: none;
    color: #e4b5ca;
 

}

#barraProgreso::-webkit-progress-bar{ 
    background-color: #c792e6;
     
}

#imagenrespuesta{
 width: 669px;
}
 
 
 
 

